:host{
    display:flex;
    flex-grow:1;
    flex-direction: column;
    align-items:column;
    
}


.mat-form-field {
    font-size: 14px;
    width: 50%;
  }
.table{
    width:100%;
    
}
.row-header{
    background-color:#006666;
   
}
.mat-header-cell{
    color:white;
    font-size:14px;
}
/* .mat-cell{
    background-color:#f0f0f0;
} */
mat-paginator{
    background-color:#f0f0f0;
}
