
<mat-form-field>
    <mat-select placeholder="Select Map Type">
        <mat-option *ngFor="let type of mapTypes"[value]="type.value">{{type.viewValue}}</mat-option>       
    </mat-select>
</mat-form-field>

<!-- plot type select form -->

<mat-form-field>
    <mat-select placeholder="Select Plot Type">
        <mat-option *ngFor="let type of plotTypes"[value]="type.value">{{type.viewValue}}</mat-option>       
    </mat-select>
</mat-form-field>



<input type="checkbox" id="c1" class="k-checkbox"/>
<label class="k-checkbox-label" for="c1">Show Grid</label>

<kendo-buttongroup>
    <button kendoButton [togglable]="false">Reset Map</button>
    <button kendoButton [togglable]="false">Fetch Map</button>
</kendo-buttongroup>







