:host{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    height:100vw;
    /* background-image:url('../../../assets/aqua.jpg'); */
    background-position: center center; /*center vertically and center horizontally*/
    background-size:cover;
    background-color: #BAC7B7;

}

.signin-form{
    min-width:300px;
    opacity:.93;
    background-color: rgb(238, 214, 214);
    padding:20px
}

a{
    line-height:32px;
    display:block;
}

 button{
     float: inherit;
 }
 .message{
     float:right;
 }
 h5{
     text-align:center;
     padding-bottom: 5px;
     color:black;
 }
.homepage{
    display:inline-block;
}
.title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:azure;
    display:flex;
    align-items:center;
    flex-grow:0;
}