
/* for horizontal popup-menu */
:host{
    position:absolute;
    display:inline-block;
    width:165px;
    background-color:#006666;
    border:1px solid #006666;
    box-shadow: 1px 1px 5px #aaa;
}

/* for vertical popup-menu */
:host(.vertical-menu){
    position: static;
    display:inline-block;
    width:100%;  /*for fa arrows to align properly*/
    background-color:transparent;
    border:none;
    box-shadow:none;
    padding:2px 0 0 0;

}
li{
    display: inline;
}
