<kendo-grid [kendoGridBinding]="data" [pageable]="true" [pageSize]="20">
        <ng-template kendoGridToolbarTemplate>
            <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
            <button type="button" kendoGridExcelCommand icon="file-excel">Export to Excel</button>&nbsp;&nbsp;
            <button type="button" icon="file-bin">Export to Lotex Binary</button>
        </ng-template>
        <kendo-grid-column field="ProductID" title="ID">
        </kendo-grid-column>
        <kendo-grid-column field="ProductName" title="Name">
        </kendo-grid-column>
        <kendo-grid-column field="ProductID" title="ID">
            </kendo-grid-column>
            <kendo-grid-column field="ProductName" title="Name" >
            </kendo-grid-column>
            <kendo-grid-column field="Category.CategoryName" title="Category">
            </kendo-grid-column>
            <kendo-grid-column field="UnitPrice" title="Price">
            </kendo-grid-column>
            <kendo-grid-column field="UnitsInStock" title="In stock">
            </kendo-grid-column>
            <kendo-grid-column field="ProductID" title="ID">
                </kendo-grid-column>
                <kendo-grid-column field="ProductName" title="Name" >
                </kendo-grid-column>
                <kendo-grid-column field="Category.CategoryName" title="Category">
                </kendo-grid-column>
                <kendo-grid-column field="UnitPrice" title="Price">
                </kendo-grid-column>
                <kendo-grid-column field="UnitsInStock" title="In stock">
                </kendo-grid-column>
        <kendo-grid-pdf fileName="Products.pdf" [allPages]="true"[repeatHeaders]="true">
            <kendo-grid-pdf-margin top="1cm" left="1cm" right="1cm" bottom="1cm"></kendo-grid-pdf-margin>
        </kendo-grid-pdf>
        <kendo-grid-excel fileName="Products.xlsx"></kendo-grid-excel>
    </kendo-grid>