<kendo-grid [kendoGridBinding]="data" [pageable]="true" [pageSize]="20">
        <ng-template kendoGridToolbarTemplate>
                <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
        </ng-template>    
        <kendo-grid-column field="ProductID" title="ID" ></kendo-grid-column>
        <kendo-grid-column field="ProductName" title="Name" ></kendo-grid-column>
        <kendo-grid-column field="Category.CategoryName" title="Category" ></kendo-grid-column>
        <kendo-grid-column field="UnitPrice" title="Price"></kendo-grid-column>
        <kendo-grid-column field="UnitsInStock" title="In stock" ></kendo-grid-column>
        <kendo-grid-column field="QuantityPerUnit" title="Quantity Per Unit" ></kendo-grid-column>
        <kendo-grid-column field="SupplierID" title="Supplier ID" ></kendo-grid-column>
        <kendo-grid-column field="UnitsOnOrder" title="Units On Order" ></kendo-grid-column>
        <kendo-grid-column field="ReorderLevel" title="Reorder Level" ></kendo-grid-column>
        <kendo-grid-column field="ReorderLevel" title="Reorder Level" ></kendo-grid-column>
        <kendo-grid-column field="ReorderLevel" title="Reorder Level" ></kendo-grid-column>
        <kendo-grid-column field="SupplierID" title="Supplier ID" ></kendo-grid-column>

        <!-- <kendo-grid-column field="Discontinued" title="QuantityPerUnit">
        <ng-template kendoGridCellTemplate let-dataItem>
            <input type="checkbox" [checked]="dataItem.Discontinued" disabled/>
        </ng-template>
        </kendo-grid-column> -->


            <!--pdfexport -->
    <kendo-grid-pdf fileName="Products.pdf" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
            <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
            <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
                <div class="page-template">
                <div class="header">
                    <div style="float: right">Page {{ pageNum }} of {{ totalPages }}</div>
                     Lotex GPS Data Grid
                </div>
                <div class="footer">
                    Page {{ pageNum }} of {{ totalPages }}
                </div>
                </div>
            </ng-template>

            <!-- exporting all pages -->
            
        </kendo-grid-pdf>
</kendo-grid>




