:host{
    display:flex;
    flex-grow:1;
    align-items:center;
    justify-content:center;
    background-color:black;
    min-height: 4em;
    


}

.socialIcons{
    display:inline;
}

span{
    
    text-align:center;
}

