:host{
    display:flex;
    flex-grow:1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content:flex-start;
    
}

.gmap{
    flex-grow:1;
    height:100vh;
}
fw-mapDataTable{
    flex-grow:1;
    flex:0 1 350px;
    margin:4px;
   
}




