:host{
    display:flex;
    flex-grow:1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.gmap{
    flex-grow:1;
    height:100vh;
    
}
fw-mapDataTable{
   
   
   
}
:host(.vertical-menu){

    display:flex;
    flex-grow:1;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.widget{
   display:inline-block;
}

.mapTable{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    flex-grow:1;
    flex:0 1 450px;
    margin:2px;
}


