<div class ="column">
    <p>
        Choose ONE device configuration item from one of the main categories provided below:
    </p>
    <kendo-dropdownlist
    [defaultItem]="defaultItem"
    [data]="listItems"
    [textField]="'viewValue'"
    [valueField]="'value'"></kendo-dropdownlist>
</div>
<div class ="column">
        <p>
                Choose ONE device configuration item from one of the main categories provided below:
            </p>
            <kendo-dropdownlist
            [defaultItem]="defaultItem"
            [data]="listItems"
            [textField]="'viewValue'"
            [valueField]="'value'"></kendo-dropdownlist>
</div>
<div class ="column">
        <p>
                Choose ONE device configuration item from one of the main categories provided below:
            </p>
            <kendo-dropdownlist
            [defaultItem]="defaultItem"
            [data]="listItems"
            [textField]="'viewValue'"
            [valueField]="'value'"></kendo-dropdownlist>
</div>